*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Mochiy Pop One', sans-serif;
font-family: 'Poppins', sans-serif;
   background-color: rgb(18, 17, 17);
}
.body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 700px;
    
}
.left{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 100vh;
}
.logo{
    height: 50px;
    padding-top: 7%;
    padding-left: 80%;
}
.mainImage img{
    position: absolute;
    top: 0%;
    height: 80vh;
    width: 250px;
}
nav{
    padding-left: 0%;
    padding-top: 4%;
    display: grid;
    grid-template-columns:repeat(5,100px);
    grid-template-rows: 50px;
    column-gap: 25px;
}
a{
    text-decoration: none;
    color: white;
    font-size: large;
    font-weight: 600;
    cursor: pointer;
}
nav button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    padding: 8px 5px 8px 5px;
    width: 100px;
    background-color: #242222;
    color: white;
    font-size: medium;
    font-weight: 500;
    border-radius: 7px;
    border-left: 3px solid grey;
    border-top: 3px solid grey;
    cursor: pointer;
}
.onEar{
    height: 170px;
    align-items: last baseline;
    display: flex;
    padding-left: 10%;

}
.onEar img{
    height: 110px;
}
h1{
    padding-top: 20px;
    color: white;
    font-size: 77px;
}
h2{
    color: white;
    font-size: 30px;
    padding-top: 4%;
    padding-bottom: 4%;
}

p{
    height: 130px;
    width: 450px;
    color: white;
    font-size: 18px;
    font-weight: 600;
}
i{
    border: white;
    padding-right: 10px;
}
main button{
    display: flex;
    padding: 10px;
    background-color: #242222;
    color: white;
    height: 40px;
    width: 250px;
    font-size: medium;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    border-left: 3px solid grey;
    border-top: 3px solid grey;
    border-radius: 7px;
}
span{
    padding-left: 10px;
    font-size: 19px;
    font-weight: 600;
}
ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 50px;
    justify-items: center;
}
ul li img{
    height: 20px;
}